---
---

$ff-monospace: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

html, body, div, section, footer, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
        Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    line-height: 1;
    color: #444;
}

a {
    color: #6236ff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #6236ff;
    font-family: $ff-monospace;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

.container {
    height: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    footer {
        color: #999;
        margin-top: 0.5rem;
    }
}
