<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/assets/styles.css">

    <link rel="icon" href="/favicon.png">
    <link rel="icon" href="/favicon.ico">

    <script src="https://cdn.usefathom.com/script.js" data-site="AVBUYKQH" defer></script>
</head>
<body>
    <div class="container">
        <section class="content-body">
            {{ content }}
        </section>

        <footer>
            <small>&copy; {{ 'now' | date: '%Y' }} novel i/o llc  &nbsp;//&nbsp; made with ❤️ in nevada</small>
        </footer>
    </div>
</body>
</html>
