<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://wolf.novel.io/script.js" site="AVBUYKQH" defer></script>
</head>
<body>
    <div class="container">
        <section class="content-body">
            {{ content }}
        </section>

        <footer>
            &copy; {{ 'now' | date: '%Y' }} novel i/o llc  &nbsp;//&nbsp; made with ❤️ in california
        </footer>
    </div>
</body>
</html>
